/*!*************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/dev/admin/sass/style.scss ***!
  \*************************************************************************************************************************************************************************************************/
body {
  color: red;
}

h1 {
  color: red;
  -webkit-transition: color;
  transition: color;
  -webkit-transform: translate3d(1, 0, 0);
          transform: translate3d(1, 0, 0);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
