.test {
    background-color: blue;
}
.test1 {
    background-color: blue;
}
.test2 {
    background-color: blue;
}
.test3 {
    background-color: blue;
}
.test4 {
    background-color: blue;
}
.test5 {
    background-color: blue;
    display: flex;
}